body {
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(55, 61, 61);
    margin:0px 0px 20px;
    
}

.navbar-container {
    display: flex;
    align-items: center;
}
.logo{
    margin: 10px;
    padding: 20px;
    align-items: center;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 30px;

}
.nav-links{
    display: flex;
    margin: 10px;
    padding: 20px;
    align-items:self-end;
    margin-left: auto;
}

.nav-btn{
    list-style: none;
    margin: 10px;
    padding: 10px;  
    color: aliceblue;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-style: bold;
}

.search-bar{
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgb(55, 61, 61);
    background-color: rgb(55, 61, 61);
    color: aliceblue;
    font-family: cursive;
    font-style: bold;
    font-size: 20px;
    
}

.search-form{
    display:inline-block;
    margin: 10px;
    padding: 5px;
    width: 70%;
    margin-left: auto;
    color: black;

}

.nav-btn{
    background-color: rgb(55, 153, 153);
    cursor: pointer;


}

#show-routine:hover{
    background-color: rgb(182, 196, 196);
    color: rgb(55, 61, 61);
}

@media screen and (max-width: 600px){
    nav {
        background-color: rgb(55, 61, 61);
        margin: 0px 0px 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 999;
    }
    
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content:space-between
    }
    .search-bar{
       
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }
    .search-form{
        width: 100%;
    }
    .logo{
        font-size: 18px;
        padding: 0px;
        margin: 10px;
        width: 10%;
        margin-top: 20px;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items:start;
        margin-left: 0;
    }
    .nav-links li{
        font-size: 10px;
        margin: 20px 0px 0px 30px;
        padding: 5px;
        margin-top: 20px;

    }

    .nav-btn{
        background-color: rgb(55, 153, 153);
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }
    .search-field{
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .search-field button{
        margin: 5px;
    }
}